/* NavBar ------------------------------------------------------ */

.navbar {
  display: flex;
  background-color: black;
  color: white;
}

.linkContainer {
  display: flex;
  margin-left: 30px;
}

.link {
    margin-left: 150px;
  /* margin-left: 25px; */
}

.contactLink {
  margin-left: 920px;
}
